{{ $elements := slice }}
{{ $ancestors := .Ancestors.Reverse }}
{{ $position := 1 }}

{{ range $ancestors }}
    {{ $element := dict
        "@type" "ListItem"
        "position" $position
        "name" .LinkTitle
        "item" .Permalink
    }}

    {{ $elements = $elements | append $element }}
    {{ $position = add $position 1 }}
{{ end }}

{{/* Append the current page */}}
{{ $currentPage := dict
    "@type" "ListItem"
    "position" $position
    "name" .LinkTitle
    "item" .Permalink
}}
{{ $elements = $elements | append $currentPage }}

<script type="application/ld+json">
    [
        {
            "@context": "https://schema.org",
            "@type": "TechArticle",
            "headline": "{{ .Title | safeJS }}",
            "description": "{{ .Params.seo.description | safeJS }}",
            "url": {{ .Permalink | plainify }},
            "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeJS }}",
            "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeJS }}",
            "inLanguage": "{{ .Language.Lang | safeJS }}",
            "author": {
                "@type": "Organization",
                "name": "SeaTable",
                "url": {{ .Site.BaseURL | plainify }}
            },
            "publisher": {
                "@type": "Organization",
                "name": "SeaTable",
                "url": {{ .Site.BaseURL | plainify }},
                "logo": {
                "@type": "ImageObject",
                "url": "https://seatable.com/images/seatable-logo.svg"
                }
            }
        },
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": {{ $elements | jsonify (dict "indent" "    ") | safeJS }}
        }
    ]
</script>
