<header class="xl:padding-x z-10 w-full px-4 py-8 print:hidden" x-data="{ mobileMenuOpen: false, productMenuOpen: false, solutionMenuOpen: false }">
    <nav class="max-container flex items-center justify-between">
        <!-- Logo -->
        <a href="{{ "/" | relLangURL }}"><img src="/images/seatable-logo.svg" alt="SeaTable Logo" width="130" height="29" /></a>

        <!-- Hauptnavigation -->
        <ul class="flex flex-1 items-center justify-center gap-1 max-xl:hidden 2xl:gap-4">
            {{ if .Site.Menus.main }}
                {{ range .Site.Menus.main }}
                    {{ partial "header/navigation-desktop.html" . }}
                {{ end }}
            {{ end }}
        </ul>

        <!-- Language, Login, Register -->
        <div class="flex items-center justify-between gap-2">
            {{ partial "header/button-login.html" . }}
            {{ partial "header/button-registration.html" . }}
            {{ partial "header/language-switcher.html" . }}


            <!-- Mobile Menu-->
            <div class="hidden max-xl:block">
                <button @click="mobileMenuOpen = !mobileMenuOpen" aria-label="Toggle mobile menu">
                    <img src="/icons/hamburger.svg" alt="Open Mobile Menu" width="25" height="25" />
                </button>
            </div>
        </div>
    </nav>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div x-show="mobileMenuOpen" @click.away="mobileMenuOpen = false" id="mobile-menu" class="hidden max-xl:block">
        <div class="absolute left-0 top-0 z-[99999] min-h-full w-full border-b bg-slate-200 p-9 text-right">
            <button @click="mobileMenuOpen = !mobileMenuOpen" aria-label="Toggle mobile menu">
                <img src="/icons/xmark.svg" alt="Close Mobile Menu" width="16" height="16" />
            </button>
            <ul class="mt-4 flex flex-col items-end gap-4">
                {{ if .Site.Menus.main }}
                    {{ range .Site.Menus.main }}
                        {{ partial "header/navigation-mobile.html" . }}
                    {{ end }}
                {{ end }}
            </ul>
            <div class="mt-4 flex flex-col gap-4 text-center">
                <a href="https://cloud.seatable.io" class="rounded-lg border bg-white px-4 py-2 font-poppins font-bold text-black">
                    {{ T "navigation.login" }}
                </a>
                <a
                    href="{{ with .Site.GetPage "registration" }}{{ .RelPermalink }}{{ end }}"
                    class="bg-gradient rounded-lg px-4 py-2 font-poppins font-bold text-white">
                    {{ T "navigation.registration" }}
                </a>
            </div>
        </div>
    </div>
</header>
