{{ define "main" }}
    <article class="padding mx-auto max-w-full">
        <header>
            <h1 class="gradient mb-2 mt-0 pt-8 text-center text-4xl text-neutral-900 md:text-5xl">{{ .Title | emojify }}</h1>
            {{ if .Description }}
                <p class="text-center text-sm">{{ .Description }}</p>
            {{ end }}

            {{ if and (.Params.Version) (not .Date.IsZero) }}
                {{ $version := .Params.Version }}
                {{ $date := .Date | time.Format "2006-01-02" }}
                <p class="text-center text-sm">{{ T "legal.version" }} {{ $version }} {{ T "legal.published_on" }} {{ $date | time.Format site.Params.dateFormat }}</p>
            {{ end }}
            <a class="mt-2 block text-center text-blue-600 hover:underline" href="{{ relref . "pages/legal/overview" }}">{{ T "templates.back" }}</a>
        </header>

        <section class="mx-auto mt-20 max-w-[800px] print:hidden">
            {{ partial "toc.html" . }}
            <!-- FIXME: richtig positionieren mit icon... 
            <button onclick="window.print()">Seite drucken</button>
            -->
        </section>

        <section class="mx-auto mt-4 max-w-[800px]" id="legal">
            {{ partial "content-body.html" .Content }}
        </section>
    </article>
{{ end }}
