{{ define "main" }}
    <section class="max-container padding mx-auto w-full">
        <article class="">
            <header>
                {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
                    {{ partial "breadcrumbs.html" . }}
                {{ end }}


                <!-- I have to use style here, because tailwind does not generate this color ... -->
                <div class="justify-left mt-6 flex flex-col gap-0 rounded-2xl shadow-2xl md:gap-8 lg:flex-row" style="background-color: {{ .Params.color | default "#ffffff" }}">
                    <div class="w-full p-8 lg:w-3/5 lg:p-12 xl:p-20">
                        {{ $colorMap := dict "white" "text-white" "neutral" "text-neutral-500" "dark" "text-neutral-900" }}
                        {{ $textColor := index $colorMap (default "neutral" .Params.color) }}
                        <h1 class="xl:text-56 {{ $textColor }} mt-0 pt-8 text-left text-3xl font-extrabold leading-narrow md:text-4xl">{{ .Title | emojify }}</h1>
                        <p class="mt-4 text-xl leading-normal">{{ .Description }}</p>
                        <p class="mt-8">{{ .Date.Format .Site.Params.dateFormat }}{{ with partial "author-data.html" . }} · {{ T "article.written_by" }} {{ .name }}{{ end }}</p>
                    </div>
                    <div class="w-9/12 self-center lg:w-2/5">
                        {{ $images := .Resources.ByType "image" }}
                        {{ $featured := $images.GetMatch "feature*" }}
                        {{ if $featured }}
                            {{ $featured := $featured.Resize (printf "%dx%d webp" $featured.Width $featured.Height) }}
                            <img
                                src="{{ $featured.RelPermalink }}"
                                width="{{ $featured.Width }}"
                                height="{{ $featured.Height }}"
                                class="rounded-r-2xl"
                                alt="{{ .Params.seo.title | default .Title }}" />
                        {{ end }}
                    </div>
                </div>
            </header>

            {{ partial "article-body.html" . }}
        </article>
    </section>
{{ end }}
