{{ define "main" }}
    <section class="max-container padding mx-auto w-full">
        <article class="">
            <header>
                {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
                    {{ partial "breadcrumbs.html" . }}
                {{ end }}


                <!-- I have to use style here, because tailwind does not generate this color ... -->
                <div class="justify-left mt-6 flex flex-col gap-0 rounded-2xl shadow-2xl md:gap-8 lg:flex-row" style="background-color: {{ .Params.color | default "#ffffff" }}">
                    <div class="w-full p-8 lg:w-3/5 lg:p-12 xl:p-20">
                        {{ $colorMap := dict "white" "text-white" "neutral" "text-neutral-500" "dark" "text-neutral-900" }}
                        {{ $textColor := index $colorMap (default "neutral" .Params.color) }}
                        <h1 class="xl:text-56 {{ $textColor }} mt-0 pt-8 text-left text-3xl font-extrabold leading-narrow md:text-4xl">{{ .Title | emojify }}</h1>
                        <p class="mt-4 text-xl leading-normal">{{ .Description }}</p>
                        <p class="mt-8">{{ .Date.Format .Site.Params.dateFormat }}</p>
                    </div>
                    <div class="w-9/12 self-center lg:w-2/5">
                        {{ $images := .Resources.ByType "image" }}
                        {{ $featured := $images.GetMatch "feature*" }}
                        {{ if $featured }}
                            {{ $featured := $featured.Resize (printf "%dx%d webp" $featured.Width $featured.Height) }}
                            <img
                                src="{{ $featured.RelPermalink }}"
                                width="{{ $featured.Width }}"
                                height="{{ $featured.Height }}"
                                class="rounded-r-2xl"
                                alt="{{ .Params.seo.title | default .Title }}" />
                        {{ end }}
                    </div>
                </div>
            </header>

            <div class="justify-left post mt-6 flex w-full gap-12 md:flex-row">
                <!-- max width of the blog posts is 768px -> image optimization -->
                <div class="post-content mt-12 w-full max-w-3xl lg:w-3/4 print:block print:w-full">
                    {{ partial "content-body.html" .Content }}


                    <div class="mt-12 border-t border-gray-300"></div>
                    <p class="mt-12">
                        <span class="text-sm uppercase">TAGS:</span>
                        <span class="mt-2 flex flex-wrap gap-2">
                            {{ range (.GetTerms "tags") }}
                                <a href="{{ .Permalink }}" class="whitespace-nowrap rounded-lg bg-gray-200 px-2 py-1">{{ .LinkTitle }}</a>
                            {{ end }}
                        </span>
                    </p>
                </div>

                <!-- Second section with TOC und Register (optional) -->
                <div class="toc post-toc mt-12 hidden min-w-[220px] lg:block print:hidden">
                    <div class="sticky top-8 border-l border-dotted border-gray-400 py-2 pl-5">
                        {{ .TableOfContents }}


                        <!-- registration box -->
                        <!-- später so: if ne .Params.register "hide" -->
                        {{ $dark := eq .Params.register.style "dark" }}

                        {{ if .Params.register.show }}
                            <div class="{{ if $dark }}bg-seatable-blue{{ else }}bg-gray-100{{ end }} mt-8 rounded-lg p-8">
                                <div class="{{ if $dark }}text-white{{ else }}text-seatable-blue{{ end }} mb-4 pb-2 font-poppins text-xl font-bold">
                                    {{ or ( .Params.register.title ) ( T "blog-register.title" ) }}
                                </div>
                                <ul class="ml-4 !list-disc">
                                    {{ if .Params.register.items }}
                                        {{ range .Params.register.items }}
                                            <li class="{{ if $dark }}text-white{{ end }} !list-disc">{{ . }}</li>
                                        {{ end }}
                                    {{ else }}
                                        <li class="{{ if $dark }}text-white{{ end }} !list-disc">{{ T "blog-register.item1" }}</li>
                                        <li class="{{ if $dark }}text-white{{ end }} !list-disc">{{ T "blog-register.item2" }}</li>
                                        <li class="{{ if $dark }}text-white{{ end }} !list-disc">{{ T "blog-register.item3" }}</li>
                                    {{ end }}
                                </ul>
                                <p class="{{ if $dark }}text-white{{ end }} pt-1 text-sm">{{ or ( .Params.register.text ) ( T "blog-register.text" ) }}</p>
                                <a
                                    href="{{ (page.GetPage "pages/registration").RelPermalink }}"
                                    class="bg-gradient mt-6 rounded-lg px-4 py-2 text-center font-poppins !font-bold !text-white md:block"
                                    >{{ or ( .Params.register.submit ) ( T "blog-register.submit" ) }}</a
                                >
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </article>
    </section>
{{ end }}
